<nav class="navbar navbar-expand-lg navbar-light bg-white px-4">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/navbar.png" height="70" />
    </a>

    <!-- Hamburger button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/" (click)="closeNavbar()">HOME</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/about" (click)="closeNavbar()">ABOUT US</a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/course-and-curriculum" (click)="closeNavbar()">Course And Curriculum</a>
        </li>
        <!-- SECTION Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link fw-semibold dropdown-toggle" role="button" data-bs-toggle="dropdown">
            Facilities
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="closeNavbar()" routerLink="/facilities/science-lab"
                >Science Lab</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="closeNavbar()" routerLink="/facilities/computer-lab"
                >Computer Lab</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="closeNavbar()" routerLink="/facilities/library">Library</a>
            </li>

            <li>
              <a class="dropdown-item" (click)="closeNavbar()" routerLink="/facilities/sports-facilities"
                >Sports Facilities</a
              >
            </li>
           
            
          </ul>
        </li>

         <li class="nav-item">
          <a class="nav-link fw-semibold" href="assets/files/achievements.pdf" target="_blank" (click)="closeNavbar()">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/admissions" (click)="closeNavbar()">Admissions</a>
        </li>
         <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/gallery" (click)="closeNavbar()">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/contact-us" (click)="closeNavbar()">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="bg-warning" style="height: 4px"></div>
